.notification-title {
    margin-top: 5rem;
}

.link {
    color: #007bff; /* Set link color */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s; /* Add transition effect for color change */
}
  
/* Hover effect for link */
.link:hover {
color: #0056b3; /* Set hover color */
text-decoration: underline; /* Add underline on hover */
}