body {
    position: relative;
    min-height: 100vh;
}

/* NavBar Styles */
.navbar-brand {
    text-decoration: none;
    font-weight: bold;
    color: #0F8FEE;
}

.profile-img {
    width: 28px;
    height: 28px;
}

.default-white {
    color: white;
}

.default-white.dropdown-toggle::after {
    color: white;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    #searchBar {
        width: 40vw;
        border-radius: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  
    #searchBar {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

/* Footer Styles */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;
}

footer p {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}

.index-footer-margin {
    padding-bottom: 5rem;
}

/* Index Styles */
.navbar-scrolled {
    background-color: white;
}

.bg-image {
    position: relative;
    background:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(image/toronto.jpg);
    min-height: 80vh;
    background-size:cover;
    background-position: center;
}

.search-intro {
    top: 50%;
}

.search-intro-text {
    color: white;
    font-weight: bold;
}

/* this is the start of css based on https://www.youtube.com/watch?v=WuWbunhmDsE */
.search-box{
    width: 75vw;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.search-box input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    text-align: left;
}

.search-box label{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    text-align: left;
}

.search-box button{
    background: #0F8FEE;
    height: 45px;
    width: 45px;
    cursor: pointer;
    outline: none;
    border: 0;
}

.search-icon {
    color: white !important;
}

.local-input-search {
    flex: 1;
}

/* this is the end of css based on https://www.youtube.com/watch?v=WuWbunhmDsE */

.search-box label {
    font-weight: bold;
}

.other-search {
    margin-right: 2rem;
}

::-webkit-calendar-picker-indicator{
    margin-left: -1rem;
}

.index-cards {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-index-intro {
    margin-bottom: 3rem;
}

/* styles for signup */
.signup-container {
    padding-top: 56px;
    min-height: 100vh;
    padding-bottom: 2rem;
}

.sign-in-form {
    margin-top: 3%;
    margin-bottom:5%;
}