body {
    position: relative;
    min-height: 100vh;
}

/* NavBar Styles */
.navbar-brand {
    text-decoration: none;
    font-weight: bold;
    color: #0F8FEE;
}

.profile-img {
    width: 28px;
    height: 28px;
}

.default-white {
    color: white;
}

.default-white.dropdown-toggle::after {
    color: white;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    #searchBar {
        width: 40vw;
        border-radius: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  
    #searchBar {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

/* Footer Styles */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;
}

footer p {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}

.index-footer-margin {
    padding-bottom: 5rem;
}

/* Index Styles */
.navbar-scrolled {
    background-color: white;
}

.bg-image {
    position: relative;
    background:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(image/toronto.jpg);
    min-height: 80vh;
    background-size:cover;
    background-position: center;
}

.search-intro {
    top: 50%;
}

.search-intro-text {
    color: white;
    font-weight: bold;
}

/* this is the start of css based on https://www.youtube.com/watch?v=WuWbunhmDsE */
.search-box{
    border-radius: 40px;
}

.search-box input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    text-align: left;
}

.search-box label{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    text-align: left;
}

.search-box button{
    background: #0F8FEE;
    height: 45px;
    width: 45px;
    cursor: pointer;
    outline: none;
    border: 0;
    border-style: solid;
}

.search-box button:hover{
    background: white;
    height: 45px;
    width: 45px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #0F8FEE;
}

.search-icon {
    color: white !important;
}

.search-box button:hover .search-icon{
    color: #0F8FEE !important;
}

.local-input-search {
    flex: 1;
}

/* this is the end of css based on https://www.youtube.com/watch?v=WuWbunhmDsE */

.search-box label {
    font-weight: bold;
}

.other-search {
    margin-right: 2rem;
}

::-webkit-calendar-picker-indicator{
    margin-left: -1rem;
}

.index-cards {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-index-intro {
    margin-bottom: 3rem;
}

/* styles for signup */
.signup-container {
    padding-top: 56px;
    min-height: 100vh;
    padding-bottom: 2rem;
}

.sign-in-form {
    margin-top: 3%;
    margin-bottom:5%;
}

/* style for profile page */
.profile-container {
    padding-top: 56px;
}

.profile-box-container {
    margin-top: 3rem;
    padding-bottom: 4rem;
}

/* style for help page */
.help-container {
    padding-top: 56px;
}

.helper-box-container {
    margin-top: 3rem;
    padding-bottom: 4rem;
}

/* styles for house details */
.property_details{
    padding-top: 56px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.property_name{
    /* margin-left: 5%; */
    margin-top: 3%;

}

.property_name i{
    color: #0F8FEE;
    font-size:medium;

}
.row p{
    padding-top: 2px;
}

#carouselExampleIndicators{
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;

    
}

.carousel-item {
    height: 55vh;
}

.gallery{
    
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
}

.gallery div img{
    width: 100%;
    display: block;
}

.img_big{
    grid-area: first;
}

.about_host{
    margin-top: 35px;
}

.line{
    border: 0;
    height: 2px;
    background: rgb(81, 81, 81);
    width: 100%;
    max-width: 800px;
    margin: 30px 0 40px;
}


/* booking form */

.check-form{
    margin:30px 0; 
    background: #fff;
    box-shadow: 0 0 30px rgba(44, 43, 43, 0.3); 
    border-radius:8px; 
    display: flex; 
    flex-wrap: wrap;
    align-items:center; 
    padding:10px 50px;
}

.check-form label{
    display: block;
}

.check-form div{
    padding: 20px;
}

.check-form input{
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
}
.pricetag{
    width: 150px;
}
.check-form button{
    background: #0F8FEE;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    font-size: 16px;
    border-radius: 8px;
}

.guest_div{
    flex: 1;
    font-weight: 800;
}

.important_details{
    list-style: none;
}

.important_details li{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #555;
    position: relative;

}

.important_details li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.important_details li i{
    position:absolute;
    top:5px;
    left: -40px;
}

.map{
    margin: 35px 0 ;

}

.map iframe{
    width: 100%;
    margin-bottom: 20px;

}

.map h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.host_info{
    display: flex;
    align-items: center;
}

.host_info img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;

}

.host_info i{
    color: #0F8FEE;
    font-size:medium;

}

.contact-host{
    display: inline-block;
    margin:0 auto;
    text-decoration: none;
    color:#0F8FEE;
    padding: 15px 50px;
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(44, 43, 43, 0.3); 
    margin-left: 15vw;
    
}

.space{
    padding-bottom: 200px;
}

@media screen and (max-width: 480px){
    .property_details{
        margin-top: 30px;
    }
    .gallery{
        grid-template-areas: 'first first' '. .' '. .' ;
    }

    .host_info{
        display: block;
        line-height: 28px;
    }
    .contact-host{
        margin-left: 20vw;
    }

    .host_info img{
        width: 100px;
        border-radius: 50%;
        margin-left: 30vw;
        margin-bottom: 10px;
    }
}



/* testing */

.comments-app{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 680px;
    padding: 0 50px;
    width: 100%;
  }
  
  .comments-app h1{
    color: #191919;
    margin-bottom: 1.5em;
    text-align: center;
    text-shadow: 0 0 2px rgba(152, 152, 152, 1);
  }
  
  .comment{
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
  }
  
  .comment-form .comment-avatar,
  .comment .comment-avatar{
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    height: 80px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 80px;
  }
  
  .comment-form .comment-avatar img,
  .comment .comment-avatar img{
    display: block;
    height: auto;
    width: 100%;
  }
  
  .comment .comment-box{
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    margin-left: 100px;
    min-height: 60px;
    position: relative;
    padding: 15px;
  }
  
  .comment .comment-box:before,
  .comment .comment-box:after{
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    content: "";
    left: -10px;
    position: absolute;
    top: 20px;
  }
  
  .comment .comment-box:before{
    border-color: transparent rgba(0, 0, 0, .05);
     top: 22px;
  }
  
  .comment .comment-text{
    color: #555f77;
    font-size: 15px;
    margin-bottom: 25px;
  }
  
  .comment .comment-footer{
    color: #acb4c2;
    font-size: 13px;
  }
  
  .comment .comment-footer:after{
    content: "";
    display: table;
    clear: both;
  }
  
  .comment .comment-footer a{
    color: #acb4c2;
    text-decoration: none;
  
    -webkit-transition: 350ms color;
    -moz-transition: 350ms color;
    -ms-transition: 350ms color;
    -o-transition: 350ms color;
    transition: 350ms color;
  }
  
  .comment .comment-footer a:hover{
    color: #555f77;
    text-decoration: underline;
  }
  
  .comment .comment-info{
    float: left;
    width: 85%;
  }
  
  .comment .comment-date:before{
    content: "|";
    margin: 0 10px;
  }
  
  .comment-actions{
    float: left;
    text-align: right;
    width: 15%;
  }
  
  @media screen and (max-width: 480px){
    
    .comment .comment-box{
        background-color: #fcfcfc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
        margin-left: 100px;
        min-height: 60px;
        position: relative;
        padding: 15px;
        display: table-cell;
    }

    .comment-form .comment-avatar,
    .comment .comment-avatar{
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        height: 80px;
        left: 0;
        overflow: hidden;
        top: 0;
        width: 80px;
        position: relative;
    }
  }

  /* style for search-result page */
.search-result-container {
    padding-top: 56px;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.search-result-box-container {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.search-box-search {
    padding: 6px 10px 6px 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}


.search-box-search input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    text-align: left;
}

.search-box-search label{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    text-align: left;
}

.search-box-search button{
    background: #0F8FEE;
    height: 45px;
    width: 45px;
    cursor: pointer;
    outline: none;
    border: 0;
    border-style: solid;
}

.search-box-search button:hover{
    background: white;
    height: 45px;
    width: 45px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #0F8FEE;
}

search-box-search label {
    font-weight: bold;
}

.search-box-search button:hover .search-icon{
    color: #0F8FEE !important;
}

.rating-star {
    color: #0F8FEE;
    font-size:medium;
}


/* create_property */

.property-container {
    padding-top: 56px;
    height: 100%;
    padding-bottom: 2rem;
    background-color: #0F8FEE;
}

.property-box-container {
    margin-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
}

/* message style */
.chatroom {
    padding-top: 56px;
    padding-bottom: 5rem;
}

.chat-avatar {
    width: 60px;
}

/* edit property style */
.edit_image {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}