.page-container {
    position: relative;
    min-height: 100vh;
}

.navbar-brand {
    text-decoration: none;
    font-weight: bold;
    color: #0F8FEE;
}

/* not in use */

main {
    background-color: black;
    height: 4000px;
}